<form action="/Import" method="post">
    Name:<input type="text" name="name"><br>
    Code:<input type="number" name="code"><br>
    Weight:<input type="number" name="weight"><br>
    Brand:<input type="text" name="brand"><br>
    ArrivalDate:<input type="text" name="date">

    <input type="submit">
</form>
