<form action="/Import" method="post">
    Name:<input type="text" name="name"><br>
    Volume:<input type="number" name="volume"><br>
    Weight:<input type="number" name="weight"><br>
    Category:<input type="text" name="category"><br>
    Supplier:<input type="text" name="supplier">

    <input type="submit">
</form>
